.card { 
      height: 180px; 
      margin: 5px; 
      position: relative; 
      float: left; 
      width:14%; 
      box-shadow: 0 3px 5px 2px rgb(153, 174, 206); 
      display: block; 
    }
.img-fluid{
  height: 125px;
  margin-top: 20px;
} 
.imageSection{
  margin: auto;
  width: 90%;
  text-align: center;
}    
    

    